.VideoInfo-container {
  width: 700px;
  height: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.VideoInfo-description {
  margin: 20px;
  flex: 1;
  height: 75%;
  color: black;
  overflow: scroll;
}
