.Button-container {
  background-color: orange;
  color: black;
  width: auto;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  cursor: pointer;
}
