.Button-container {
  background-color: orange;
  color: black;
  width: auto;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.Button-container:hover {
  background-color: rgb(255, 199, 78);
}
