.VideoPlayer-container {
  width: 100%;
  height: 70vh;
  padding: 5px;
  background-color: black;
  border: 3px solid rgba(255, 255, 255, 0.7);
  text-align: center;
  font-weight: bold;
  margin: 0px 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
